<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Reservations</title>
    </head>
    <body>

        <form method="POST">
            <!--Django already contains some inbuilt tags thus no need of
            defining them
            -->
            {% csrf_token %}
            {{ form.as_p }}

            <button type="Submit"></button>
        </form>

        <!--the 'forms' variable is going to be defined in the Django/firtsproject/firstapp/views.py file
        from line 14
        -->
    </body>
</html>
